<div class="page-header clearfix">
  <h1> A Ride to Give Cancer Research a Schott</h1>
</div>

<div class="left-col left">
  <a href="https://www.mypelotonia.org/riders_profile.jsp?MemberID=238218&SearchStart=0&PAGING"><img src="https://www.mypelotonia.org/images/RiderPics/238218/photo%20M6.JPG"></a>
</div>
<div class="right-col left">
  <a href="https://www.mypelotonia.org/riders_profile.jsp?MemberID=238218&SearchStart=0&PAGING"><img class="right-pic" src="http://farm8.staticflickr.com/7069/7002893679_acc592bcbb.jpg"></a>
</div>

<div class="hero-unit clearfix">
  <h2>Pelotonia Information</h2>
  <p>This is some information</p>
</div>
