<div class="page-header clearfix">
  <h1> A Ride to Give Cancer Research a Schott</h1>
</div>

<div class="left-col left">
  <a href="https://www.mypelotonia.org/riders_profile.jsp?MemberID=238218&SearchStart=0&PAGING"><img src="https://www.mypelotonia.org/images/RiderPics/238218/photo%20M6.JPG"></a>
</div>
<div class="right-col left">
  <a href="https://www.mypelotonia.org/riders_profile.jsp?MemberID=238218&SearchStart=0&PAGING"><img class="right-pic" src="http://farm8.staticflickr.com/7069/7002893679_acc592bcbb.jpg"></a>
</div>

<div class="hero-unit clearfix" id="pelotonia-section">
  <div class="media">
    <a href="http://www.pelotonia.org">
      <img class="media-object" id="main" src="http://pelotonia.org/wp-content/themes/pelotonia-2012/images/logo-pelotonia.png">
    </a>
    <a href="http://www.pelotonia.org">
      <center><img class="media-object" id="second" src="http://pelotonia.org/wp-content/uploads/2012/08/media-gallery12-01.jpg">
    </a></center>
      <br />
      <p>Pelotonia is a grassroots bike tour in Columbus Ohio with one goal: to end cancer.</p>
      <p></p>
      <p>The model of Pelotonia remains simple: Pelotonia’s operating expenses are covered by funding partners so that 100% of every dollar raised by Pelotonia riders, virtual riders and volunteers goes directly to fund cancer research at The Ohio State University Comprehensive Cancer Center—Arthur G. James Cancer Hospital and Richard J. Solove Research Institute.</p>
      <p></p>
      <p>In 2012, Pelotonia was the largest cycling event in the country in terms of participation with 6,212 Riders coming from 42 states and 3 countries. Additionally, Pelotonia had 3,144 Virtual Riders and 2,103 registered Volunteers. Pelotonia 12 raised $16.9 million, bringing Pelotonia's 4-year total to $42.2 million for cancer research.</p>
      <p>The Pelotonia 13 experience will occur on August 9-11, 2013 with the ride spanning two days and covering as many as 180 miles.</p>
    </div>
  </div>
</div>


<div class="hero-unit clearfix" id="simply-community-section">
  <h2>Simply Community Peloton</h2>
  <p>This is some information</p>
</div>

<div class="hero-unit clearfix" id="schott-section">
  <div class="media">
    <a href="http://www.pelotonia.org">
      <img class="media-object" src="https://www.mypelotonia.org/images/RiderPics/238218/photo%20M3.JPG" align="left">
    </a>
      <h1 class="media-heading">Our Story</h2>
      <p></p>
      <p>Milton Schott, the father of Nate & Mike Schott was born in Cincinnati, Ohio but eventually made his way up I-71 to the capitol city of Columbus, back in the 80s. After finding his niche in Columbus through his business ventures, community involvement, and personable nature, he began to call Columbus home. Columbus has many beautiful things to offer, but after nearly 30 years of experiencing the city, it’s tough for Milt to talk about the city he loves without bringing up the people and facilities at the James Cancer hospital.</p>
      <p></p>
      <p>Milt was diagnosed with a tough form of brain cancer in 2012. As this was unchartered territory for any of his supporting “crew,” we sought guidance from the community on where Milt should be treated for his diagnosis. Without hesitation he was directed to The James Cancer Hospital at The Ohio State University. After his diagnosis, Milt was skillfully treated with surgery, radiation, the gambit of therapies, and chemotherapy as he willfully made his trek through this dreaded disease. The exceptional people who surround Milt at the James served as motivation to battle through tough circumstances and to fight for his family and against the disease.</p>
      <p></p>
      <p>Today, Milt stands tall as one of the many who continue to battle cancer, as the James, his community, and his family stand right beside him.  He enjoys his days overlooking the city he loves, spending time with the organizations and people he adores, and living each day as a gift. Thank you for your consideration and support as Milt and his family strive to end cancer.</p>
      <h3><a href="https://www.mypelotonia.org/riders_profile.jsp?MemberID=238218&SearchStart=0&PAGING"><img src="/assets/arrow.png" class="arrow2">Go to Milton's Pelotonia Page</a></h3>
    </div>
  </div>
</div>






